{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    

<h1 class=" display-4 my-5 text-center">Crée un compte</h1>
       
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
</div>
</div>
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
