{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="col-6 mx-auto">
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-primary w-100">{{button_label|default('Save')}}</button>
{{form_end(form)}}
</div>
{% endblock %}
