{% extends 'base.html.twig' %}

{% block title %}Tache index{% endblock %}

{% block body %}
 <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap CRUD Data Table for Database with Modal Form</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Table des taches</h2>
					</div>
					<div class="col-sm-6">
						<a href="{{ path('app_tache_new')}}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Ajouter une tache</span></a>					
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						
                        <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Client</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Terminée</th>
                <th>Journée entière</th>
                <th>Couleur de fond</th>
                <th>Durée</th>
                <th>Commentaire</th>
                <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
						
                         {% for tache in taches %}
                        <td>{{ tache.id }}</td>
                <td>{{ tache.Nom }}</td>
                <td>{{ tache.Description }}</td>
                <td>{{ tache.fkclient }}
                <td>{{ tache.start ? tache.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache.end ? tache.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tache.Terninee ? 'Yes' : 'No' }}</td>
                <td>{{ tache.allDay ? 'Yes' : 'No' }}</td>
                <td>{{ tache.backgroundColor }}</td>
                <td>{{ tache.Duree }}</td>
                <td>{{ tache.Commentaire }}</td>
                <td>
                            <a href="{{ path('app_tache_edit', {'id': tache.id})}}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="{{ path('app_tache_delete', {'id': tache.id}) }}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>

                        {% endfor %}
                           </td>
                    </tr>
                    
                </tbody>
            </table>
			
        </div>
    </div>
	
			
</body>
</html>

{% endblock %}