{% extends 'base.html.twig' %}

{% block title %}Tache{% endblock %}

{% block body %}
    <h1>Tache</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tache.Nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tache.Description }}</td>
            </tr>
            <tr>
                <th>Terninee</th>
                <td>{{ tache.Terninee ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>AllDay</th>
                <td>{{ tache.allDay ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>BackgroundColor</th>
                <td>{{ tache.backgroundColor }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ tache.Commentaire }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ tache.Duree }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ tache.start ? tache.start|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ tache.end ? tache.end|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tache_index') }}">back to list</a>

    <a href="{{ path('app_tache_edit', {'id': tache.id}) }}">edit</a>

    {{ include('tache/_delete_form.html.twig') }}
{% endblock %}
