{% extends 'base.html.twig' %}


       {% block title %}Welcome!{% endblock %}
     
        {% block stylesheets %}
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css"
    integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
  <!-- Chargement de Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
           
        {% endblock %}
        
        {% block body %}
        
        <div id="calendrier"></div>{% endblock %}
        
        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js" 
integrity="sha256-DBxkGZLxKsLKhz054qUpBqtotG00r9AELGpSigJujLg=" crossorigin="anonymous"></script>
        <script>
        window.onload = () => {
             let calendarElt = document.querySelector("#calendrier")
             let calendar = new FullCalendar.Calendar(calendarElt , {
                 initialView : 'timeGridWeek',
        locale : 'fr',
        timeZone : 'Europe/Paris',
        headerToolbar : {
            start: 'today prev,next',
            center: 'title',
            end: 'dayGridMonth,timeGridWeek',
            
        },
        
       
       editable: true,
       eventResizableFromStart: true,
       events: {{ data|raw }}
             })
             
             calendar.render();
        }      
        </script>    
        {% endblock %}
    
    
        
    
